<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document2</title>
    <link rel="stylesheet" href="../css/style2.css">
</head>
<body>
    <div class="background">
        <img src="../css/images/backgroundLine.png">
        <div class="Header_menu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/stream">Классификация в реальном врмени</a></li>
            </ul>
        </div>
    </div>
    <div class="dropArea">
        <img src="http://localhost:7000//video" width="80%" id = "content"/>
    </div>
</body>
</html>